img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
    box-shadow: 0 0 2px 1px rgb(77, 42, 42);
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgb(64, 185, 27);
    z-index: 100;
  }
  
.btn:hover {
    background-color: black;
}

