<button class="btn btn-danger" (click)="openModal(content)">Change Your Password</button>



<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Change Password</h4>
    </div>
    <div class="modal-body">
        <div class="row">
          
            <form class="row" [formGroup]="passwordForm" (ngSubmit)="OnSubmit(modal)">
                <div class="col-md-10">
                    <div class="form-group" [ngClass]="{'error': passwordForm.controls.current_password?.invalid && passwordForm.controls.current_password?.dirty}">
                        <label>Current Password</label>
                        <em *ngIf="passwordForm.controls.current_password?.invalid && (passwordForm.controls.current_password?.touched)">Required</em>
                        <input class="form-control validate" type="password" name="current_password" formControlName="current_password" autocomplete="off" placeholder="Current Password">
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group" [ngClass]="{'error': passwordForm.controls.new?.invalid && passwordForm.controls.new?.dirty}">
                        <label>New Password(Minimum Length 8)</label>
                        <em *ngIf="passwordForm.controls.new?.invalid && (passwordForm.controls.new?.touched)">Required</em>
                        <input class="form-control validate" type="password" name="new" formControlName="new" autocomplete="off" placeholder="New Password">
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group" [ngClass]="{'error': passwordForm.controls.new_password?.invalid && passwordForm.controls.new_password?.dirty}">
                        <label>Confirm Password</label>
                        <em *ngIf="passwordForm.controls.new_password?.invalid && (passwordForm.controls.new_password?.touched)">Required</em>
                        <input class="form-control validate" type="password" name="new_password" formControlName="new_password" autocomplete="off" placeholder="Confirm Password">
                    </div>
                </div>
                <div class="col-12">
                    <hr class="mt-2 mb-3">
                    <em *ngIf="!match && passwordForm.controls.new_password?.dirty">
                        Password Does Not match
                    </em>
                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                        <button  [disabled]="!passwordForm.valid || !passwordForm.dirty || !match" type="submit" class="btn btn-primary">Update Password</button>
                        <button type="button" class="btn btn-secondary" (click)="cancelModal(modal)">Cancel</button>
                    </div>
                </div>
            </form>
          
        </div>
    </div>
    
  </ng-template>
  