
<!--<ngb-alert *ngIf="staticAlert" (close)="staticAlert = false">Select a single row</ngb-alert>
<div hidden class="row">
        <button  type="button" class="float-right btn btn-primary">Update Data</button>        
</div>-->
<div class="row">
        <div class="col-6">
                <button (click)="onBtnExportDataAsCsv()" type="button" class="float-right btn btn-primary">Download Data</button>
        </div>
        <div class="col-6">
                <button (click)="refresh()" type="button" class="float-right btn btn-success">Refresh Data</button>
        </div>
                
</div>
<ag-grid-angular
#agGrid
style="width: 100%; height: 100%;"
id="myGrid"
class="ag-theme-alpine"
[columnDefs]="columnDefs"
[defaultColDef]="defaultColDef"
[columnTypes]="columnTypes"
[rowSelection]="rowSelection"
[paginationAutoPageSize]="true"
[pagination]="true"
[rowData]="rowData"
(rowClicked)='onRowClicked($event)'

(gridReady)="onGridReady($event)"
></ag-grid-angular>
        

