<div class="row">
  <div class="col-8">
    <ngb-alert [dismissible]="false">
      <strong>Help!</strong> If want to change period click on subject.
    </ngb-alert>
  </div>
  <div class="col-4">
    <button (click)="generateLink()" class="btn btn-primary">
      Generate link for Subject
    </button>
  </div>
</div>

<div class="container-fluid" >
    <table *ngIf="numPeriod!=0" class="table  table-responsive ">
        <thead>
          <tr>
            <th scope="col">Days</th>
            <th scope="col" *ngFor='let per of periods|slice:0:numPeriod'>
              {{per}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor='let day of Object.keys(timetable);'>
            <th scope="row">{{day}}</th>
            <td *ngFor="let per of periods|slice:0:numPeriod; let i = index;">
                
              <button [ngbTooltip]="tipContent" tooltipClass="my-custom-class" 
                        (mouseover)="setToolTip(timetable[day][i])" 
                        *ngIf="timetable[day][i]?.subject" 
                        (click)="openVerticallyCentered(content,day,i)"
                        type="button" class="btn btn-light">
                  {{timetable[day][i].subject}}
                </button>
                
              <button *ngIf="!timetable[day][i]?.subject" 
                        (click)="openVerticallyCentered(content,day,i)"
                        type="button" class="btn btn-secondary">
                  Update
                </button>
            </td>
          </tr>              
        </tbody>
      </table>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Update/Fill</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">
                <label>Choose Subject</label>
                <select [(ngModel)]="subject_id">
                  <option value="">Choose Subject</option>
                  <option *ngFor="let sub of subjectList" [value]="sub.subject_id">{{sub.subject_name}}</option>
              </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="cancelModal(modal)">Cancel</button>
        <button type="button"  class="btn btn-danger" (click)="saveData(modal)">Ok</button>
    </div>
</ng-template>