<button *ngIf="type_=='class_teacher'" class="btn btn-secondary" (click)="openModal(content)">Change Student Password</button>
<button *ngIf="type_=='authority'" class="btn btn-secondary" (click)="openModal(content)">Change Teacher Password</button>


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Change Password</h4>
    </div>
    <div class="modal-body">
        <div class="row">
          
            <form class="row" [formGroup]="passwordForm" (ngSubmit)="OnSubmit(modal)">
                <div class="col-md-10">
                    <div class="form-group" [ngClass]="{'error': passwordForm.controls.username?.invalid && passwordForm.controls.username?.dirty}">
                        <label>Username</label>
                        <em *ngIf="passwordForm.controls.username?.invalid && (passwordForm.controls.username?.touched)">Required(get username from download section)</em>
                        <input class="form-control validate" type="password" name="username" formControlName="username" autocomplete="off" placeholder="Username">
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group" [ngClass]="{'error': passwordForm.controls.password?.invalid && passwordForm.controls.password?.dirty}">
                        <label>New Password(Minimum Length 8)</label>
                        <em *ngIf="passwordForm.controls.password?.invalid && (passwordForm.controls.password?.touched)">Required</em>
                        <input class="form-control validate" type="password" name="password" formControlName="password" autocomplete="off" placeholder="New Password">
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group" [ngClass]="{'error': passwordForm.controls.new_password?.invalid && passwordForm.controls.new_password?.dirty}">
                        <label>Confirm Password</label>
                        <em *ngIf="passwordForm.controls.new_password?.invalid && (passwordForm.controls.new_password?.touched)">Required</em>
                        <input class="form-control validate" type="password" name="new_password" formControlName="new_password" autocomplete="off" placeholder="Confirm Password">
                    </div>
                </div>
                <div class="col-12">
                    <hr class="mt-2 mb-3">
                    <em *ngIf="!match && passwordForm.controls.new_password?.dirty">
                        Password Does Not match
                    </em>
                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                        <button  [disabled]="!passwordForm.valid || !passwordForm.dirty || !match" type="submit" class="btn btn-primary">Update Password</button>
                        <button type="button" class="btn btn-secondary" (click)="cancelModal(modal)">Cancel</button>
                    </div>
                </div>
            </form>
          
        </div>
    </div>
    
  </ng-template>
  