.bar1, .bar2, .bar3 {
    width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  }
  


  .container2 {
    display: inline-block;
    cursor: pointer;
  }

.navbar{
  background-color: rgb(125, 152, 153) !important;
  margin-bottom: 0px !important;
}